@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #ffffff;
    --background: #1a1a1a;
    --gray-light: #d1d5db;
  }

  .dark {
    --foreground: #1a1a1a;
    --background: #ffffff;
    --gray-light: #4b5563;
  }
}

@layer utilities {
  .glassmorphic {
    @apply bg-[var(--foreground)]/5 backdrop-blur-sm border border-[var(--gray-light)]/10 shadow-sm;
  }
}